<li class="list-group-item">
	<a href={{url}}><h3>{{title}}</h3></a>
	<p class="summary">{{summary}}</p>
	<button class="btn btn-primary commentBtn" data-id={{_id}}>View Comments ({{notes.length}})</button>
</li>
